@model WebApplicationMVCLogin.Models.LoginViewModel

@{
    var type = TempData["Alert.Type"]?.ToString();
    var msg = TempData["Alert.Message"]?.ToString();
}
@if (!string.IsNullOrEmpty(type) && !string.IsNullOrEmpty(msg))
{
    <div class="alert alert-@type alert-dismissible fade show" role="alert">
        @msg
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<h2>Login</h2>

<form asp-action="Login" method="post">
    <div asp-validation-summary="All"></div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary" name="command" value="login">Login</button>

    <button type="submit" class="btn btn-primary" name="command" value="register">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
